<div class="content">
    <div>
        <select [(ngModel)]="searchText" name="search" class="custom-select">
            <option *ngFor="let option of searchOptions">
            {{option}}
            </option>
        </select>
        <button (click)="selected(searchText)" class="submit-button">Submit</button>
    </div>
</div>
<div class="content">
    <app-form-results 
    [entities]="entities"
    [selectedOption]="selectedOption"
    (deleteItem)="deleteFromData($event)">
    </app-form-results>
</div>
